.header-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 100px;
    min-height: 100px;
    background-color: rgb(108, 252, 252);
    margin: 0;
    padding: 0 30px 0 30px;
}

.name-wrapper {
    display: flex;
    align-items: center;
}

nav {
    grid-column: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    gap: 2em;
}

.header-buttons,
.header-active {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid silver;
}

.header-active {
    box-shadow: 5px 5px 15px silver;
}

.section-for-user {
    display: flex;
    align-items: center;
    justify-content: right;
}

.user-wrapper,
.user-wrapper-open {
    position: absolute;
    grid-column: 3;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid black;
    overflow: hidden;
}

.photo-wrapper {
    display: flex;
    justify-content: right;
}

.user-wrapper img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    z-index: 999;
}


.user-wrapper-open {
    background-color: white;
    width: 200px;
    height: 250px;
    border-radius: 10px;
    margin-top: 20px;
    top: 0;
}

.user-wrapper-open img {
    margin: 10px;
    width: 15%;
    cursor: pointer;
}

input {
    width: 80%;
    margin: 20px;
    border-radius: 10px;
    padding: 5px;
    box-sizing: border-box;
}

.for-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.for-button button {
    width: 100px;
    height: 30px;
    border-radius: 50px;
    background-color: rgb(31, 210, 31);
    cursor: pointer;
}